 body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .content{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 2rem;
            width: fit-content;
            justify-content: center;
            display: block;
            align-content: center;
            /* background-color: #06166d; */
            border-radius: 2rem;
        }

        header {
            /* display: flex; */
            text-align: center;
            padding: 20px;
            background-color: #0acf2b;
            color: white;
            justify-content: center;
            border-radius: 1rem;
        }
        header img {
            max-width: 100px;
            height: 7rem;
            margin-bottom: 10px;
            border-radius: 7rem;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }