body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hosp.jpg'); 
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}



header {
    /* background-color: #05c715; */
    color: #045816;
    padding: 10px;
    /* text-align: center;
    text-align: center; */
    display: flex;
    justify-content: space-between;
}
ul li a{
    color: #045816;
}
.logo{
    background-color: aqua;
}

#logo{
    height: 50px;
    border-radius: 25px;
    /* display: inline-block; */
    float: left;
}
.desc{
    display: inline-block;
    margin-left: 1rem;
}



nav ul {Health Unity
	Home Services About Us Contact
	Welcome to Health Unity
	Your partner in well-being.
	
	
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-section, .services-section, .about-section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


