.youtube{
    background-color: transparent;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: step-start;
    cursor: pointer;
    height: 35px;
    width: 70px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(22, 13, 2);
}
.twiter{
    
    background-color:transparent;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    cursor: pointer;
    height: 35px;
    width: 70px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}
.facebook{
    
    background-color:transparent;
    color:black;
    font-family: 'Times New Roman', Times, serif;
   
    cursor: pointer;
    height: 35px;
    width: 70px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    
}
.instagram{
    
    background-color:transparent;
    color:black;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
    height: 35px;
    width: 70px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color:black;

}
.youtube:hover{
    
    opacity: 0.3;
    box-shadow: 10px 10px 10px rgb(217, 20, 20);
}
.twiter:hover{
    background-color: rgb(20, 217, 220);
    opacity: 0.3;
    box-shadow: 10px 10px 10px rgb(4, 60, 143);
}
.facebook:hover{
    background-color: rgb(4, 17, 248);
    opacity: 0.3;
    box-shadow: 10px 10px 10px rgb(4, 60, 143);
}
.instagram:hover{
    background-color: rgb(210, 10, 50);
    opacity: 0.3;
    box-shadow: 10px 10px 10px rgb(4, 60, 143);
}


    body{
        background-image: url(images/ocean_view.jpg);
        
    }
    .navbar{
        display: flex ;
    }
    ul{
        display: inline-block;
    }

    ul li{
        margin-left: 10px;
        text-decoration: none;
        list-style-type: none;
     }
    ul li a{
        text-decoration: none;
        color: blueviolet;
       
    } 
    .navbar{
        font-family: 'Times New Roman', Times, serif;
        color: brown;
    }
    .contact{
        background-color: aqua;
        border-color: white;
        border-radius: 15px;
        border-style: solid;
    }
